# EditorConfig is awesome: https://EditorConfig.org

# Based on following Google Style Guides:
# - C++: https://google.github.io/styleguide/cppguide.html
# - HTML/CSS: https://google.github.io/styleguide/htmlcssguide.html
# - JavaScript: https://google.github.io/styleguide/jsguide.html
# - Java: https://google.github.io/styleguide/javaguide.html
# - Python: https://google.github.io/styleguide/pyguide.html
# - Shell: https://google.github.io/styleguide/shellguide.html

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.{md,py}]
indent_size = 4

[*.java]
max_line_length = 100

[*.bat]
end_of_line = crlf
charset = latin1

[*.{html,xml}]
max_line_length = 250

[{Makefile,*.mk}]
indent_style = tab
indent_size = 4
