# see also https://gitignore.io

/data/*.json
/public/skillsharing.js
/public/skillsharing.css

tmp/

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
out/

# Eclipse
.settings/
bin/
.project
.classpath
*.launch

# VS Code
.vscode/

# Node
coverage/
dist/
node_modules/
junit.xml

# Python
__pycache__/

# Mac OS
.DS_Store

# Windows
Thumbs.db
