* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

li {
  list-style-type: none;
}

button,
input,
select,
textarea {
  font: inherit;
}
