:root {
  --foreground-color: #292c2f; /* RAL 9011, Graphitschwarz */
  --background-color: #fdfdfd; /* RAL 9020, Seidenmatt–Weiß */
  --border-color: #cbd0cc; /* RAL 7035, Lichtgrau */
  --shadow-color: #bdbdb2; /* RAL 7044, Seidengrau */
  --focus-color: #3481bb; /* RAL 5012, Lichtblau */
}

body {
  font-family: OpenSans, Roboto, Verdana, Arial, sans-serif;
  color: var(--foreground-color);
}

h1 {
  margin-block: 0.67em;
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  margin-block: 0.83em;
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  margin-block: 1em;
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  margin-block: 1em;
}

h4 {
  margin-block: 1em;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 600;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  color: var(--background-color);
  background-color: var(--foreground-color);
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: normal;
}

.form li {
  margin-bottom: 1rem;
}

.form li label {
  padding: 0.5rem 2rem 0.5rem 0;
  display: block;
}

.form li input,
.form li select,
.form li textarea {
  padding: 1rem;
  border: 1px solid var(--border-color);
  width: 100%;
  border-radius: 0.25rem;
  transition: all 0.4s;
}

.form li input:focus,
.form li select:focus,
.form li textarea:focus {
  border-color: var(--focus-color);
  outline: none;
  box-shadow: 0 0 0 0.2rem rgb(from var(--focus-color) R G B / 0.4);
}

@media screen and (min-width: 50em) {
  .form {
    max-width: 50rem;
  }

  .form li {
    display: flex;
  }

  .form li:has(input) {
    align-items: center;
  }

  .form li label {
    flex: 1 0 25%;
  }

  .form li input,
  .form li select,
  .form li textarea {
    flex: 1 0 75%;
  }

  .form li button {
    margin-left: auto;
  }
}
